h1,
p {
  background-color: #dde0e3;
}

span,
em,
strong {
  background-color: #b2d6ff;
  /* this changes inline elements to block elements
  * they'll start their own line and fill the entire width of the browser
  * HOWEVER, it's not a good idea to do this, so we can just change display: block to display:inline
  * or just get rid of the display property
  */
  /* display: block; */
}

h1 {
  /* padding is the space between the content and its border
  * adds 50px to EACH side
  * can add padding to one side of an element as well using padding-top, padding-bottom, padding-left, padding-right
  * you can also add padding vertically and horizontally like: padding: 20px (vertical) 10px (horizontal)
  */
  padding: 50px;
}
